name: DIDD
on: push
jobs:

  deploy:
    name: "Deploy Docker Container"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Workspace
        uses: actions/checkout@v2

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/didd.key
          chmod 600 ~/.ssh/didd.key
          cat >>~/.ssh/config <<END
          Host didd
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/didd.key
            StrictHostKeyChecking no
          END
        env:
          SSH_USER: ${{ secrets.USERNAME }}
          SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
          SSH_HOST: ${{ secrets.HOST_IP }}

      - name: Pull Updated Code
        run: ssh didd 'cd ${{ secrets.PROJECT }}; git pull'

      - name: Stop Running Container
        run: ssh didd 'docker container stop $(docker container ls -q)'
      - name: Prune Container(s)
        run: ssh didd 'docker container prune -f'
      - name: Remove Previous Docker Image
        run: ssh didd 'docker image rm -f $(docker images -q | head -n 1)'

      - name: Build Docker Image
        run: ssh didd 'docker build -t didd_test ${{ secrets.WORKING_DIR }}/.'
      - name: Run Docker Container
        run: ssh didd 'docker run -d didd_test'